.alram {
    background-color: tomato;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
  }
  .alram_2{
    background-color: tomato;
    font-size: 10px;
    width: 8px;
    height: 8px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
  }
  